@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 100px 0px;
  }
}

body {  
  background: repeating-linear-gradient(
  45deg,
  #11111f,
  #11111f 5%,
  #09040f 5%,
  #09040f 10%
);
  background-size: 100px 100px;
  animation: move-it 3s linear infinite;
}



body {
    background-color: #11111f !important;
}
  
  .hoverable:hover {
    background-color: #191032;
  }

  .postcontent {
    display: inline-flex;
  }
  
  .likecontainer {
    margin-right: 15px;
  }

  .poststats {
    padding-top: 10px;
  }
  
  .rightbar button {
    background-color: #00b3e6;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .rightbar button:hover {
    background-color: #0087b3;
  }
  
  .rightbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .rightbar li {
    margin-bottom: 10px;
  }
  

  .hivebody {
    margin: auto;
    height: calc(100vh - 70px);
    width: 100%;
  }

  .createprofileicon {
    width: 60px;
  }

  .searchtext {
    width:100%;
  }

  .createpostcontainer {
    background-color: #09040f;
    padding: 20px;
    margin: 20px auto auto 20px;
    width: 585px;
    border-radius: 30px;
    cursor: text;
    display:inline-flex;
  }