.navbar {
    background-color: #09040f;
    width: 100%;
}


.neon-icon {
    max-width: 40px;
    border-radius: 50%;
    box-shadow: 0 0 2px #f0f, 0 0 10px #fff;
  }
  
  .neon-text {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px #f0f, 0 0 20px #f0f, 0 0 30px #f0f, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
  }

  .usernameSection {
    display: flex;
  }

  .neon-subtext {
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(223, 17, 17);
    text-shadow: 0 0 10px #f0f;
  }
  
.profilesection {
    width: 20%;
    display: inline-flex;
    cursor: pointer;
}

.profilesection:hover {
  background-color: #271242;
}

.profileicon {
    width: 25%;
}

.profilename {
    width: 60%;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  margin-right: 1rem;
}

.navbar-item:last-child {
  margin-right: 0;
}


/* DROPDOWN */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #09040f;
  margin-top: 50px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

.dropdown-content a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #271242;}

.show {display:block;}