.navbar {
    background-color: #09040f;
}

.neon-icon {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 2px #f0f, 0 0 10px #fff;
  }
  
  .neon-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px #f0f, 0 0 20px #f0f, 0 0 30px #f0f, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
  }

  .neon-subtext {
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(223, 17, 17);
    text-shadow: 0 0 10px #f0f;
  }
  

.logosection {
    width: 15%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 7px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa;
}

.searchsection {
    width: 40%;
}

.searchbar {
    background-color: #191032 !important;
    color: white;
    border:none;
    box-shadow: 0 0 3px #0fa;
    
}

.searchtext {
    color: rgba(244, 244, 255, 0.631);
    text-shadow: 0 0 7px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa;
}

.profilesection {
    width: 20%;
    display: flex;
    height: 50px;
}

.profileicon {
    width: 20%;
}

.profilename {
    width: 60%;
}

